.container {
    width: 960px;
    height: 760px;
    background-color: black;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: auto;
}

.leftnav {
    width: 300px;
    height: 760px;
    background-color: rgb(168, 134, 134);
    border: solid white 1px;
    box-sizing: border-box;
}

.section {
    width: 660px;
    height: 380px;
    background-color: rgb(65, 65, 65);
    border: solid white 1px;
    box-sizing: border-box;
}

.footer {
    width: 960px;
    height: 200px;
    background-color: rgb(131, 153, 129);
    border: solid white 1px;
    box-sizing: border-box;
    margin: auto;
}