* {
    margin: 0px;
    padding: 0px;
<<<<<<< HEAD
    box-sizing: border-box;
=======
>>>>>>> fdb45769f9af4a5894c3041d63732535758df773
}

.container {
    max-width: 800px;
<<<<<<< HEAD
    max-height: 600px;
=======
    height: 800px;
    /* background-color: gray; */
>>>>>>> fdb45769f9af4a5894c3041d63732535758df773
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}


.left-section {
    width: 50%;
<<<<<<< HEAD
    height: auto;
    padding: 10px;
}

.right-section {
    width: 50%;
    height: auto;
=======
    height: 800px;
    
}

.image-section {
    width: 50%;
    height: auto;
}

.text-section {
    width: 50%;
    padding-left: 10px;
    height: auto;
    box-sizing: border-box;
>>>>>>> fdb45769f9af4a5894c3041d63732535758df773
}
.header {
    max-width: 800px;
    height: 150px;
    margin: auto;
<<<<<<< HEAD
    padding: 20px;


=======
    /* background-color: black; */
    box-sizing: border-box;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
>>>>>>> fdb45769f9af4a5894c3041d63732535758df773
}


.footer {
    max-width: 800px;
    height: 200px;
    margin: auto;
<<<<<<< HEAD
}

.img {
    width: 100%;
}

p {
    font-family: sans-serif;
    padding: 5px;
}

.caption {
    font-family: sans-serif;
    font-size: small;
    font-style: italic;
}

.links {
    margin: auto;
    width: 800px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: space-around;
}
h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    text-align: center
}
h2 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 5px;
    font-weight: bold;
    
}

a {
    background-color: orange;
    text-decoration: none;
    font-family: sans-serif;
    color: black;
    padding: 10px;
    margin: 10px;
    
=======
    background-color: black;
    box-sizing: border-box;
}

img {
    width: 100%;
    height: auto;
    /* box-sizing: content-box; */
}

h1 {
    margin: auto;
    vertical-align: center;
    color: black;
    font-family: georgia;
    /* margin: 20px; */
}

h2 {
    margin: 10px 0px 10px 0px;
    font-family: georgia;
}
ul {
    margin-left: 20px;
    padding: 20px;
    list-style-type:none;
    font-family: sans-serif;
    font-size: 12pt;
    font-weight: bold;
    line-height: 150%;
}

p {
>>>>>>> fdb45769f9af4a5894c3041d63732535758df773
}