.container {
    width: 800px;
    height: 800px;
    background-color: gray;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    
}

.left-section {
    width: 50%;
    height: 800px;
    background-color: darksalmon;
}

.right-section {
    width: 50%;
    height: 400px;
    background-color: darkcyan;
}