* {
    margin: 0px;
    padding: 0px;
}

.container {
    max-width: 800px;
    height: 800px;
    /* background-color: gray; */
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}


.left-section {
    width: 50%;
    height: 800px;
    
}

.image-section {
    width: 50%;
    height: auto;
}

.text-section {
    width: 50%;
    padding-left: 10px;
    height: auto;
    box-sizing: border-box;
}
.header {
    max-width: 800px;
    height: 150px;
    margin: auto;
    /* background-color: black; */
    box-sizing: border-box;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
}


.footer {
    width: 800px;
    height: 200px;
    margin: auto;
    background-color: black;
    box-sizing: border-box;
}

img {
    width: 100%;
    height: auto;
    /* box-sizing: content-box; */
}

h1 {
    margin: auto;
    vertical-align: center;
    color: black;
    font-family: georgia;
    /* margin: 20px; */
}

h2 {
    margin: 10px 0px 10px 0px;
    font-family: georgia;
}
ul {
    margin-left: 20px;
    padding: 20px;
    list-style-type:none;
    font-family: sans-serif;
    font-size: 12pt;
    font-weight: bold;
    line-height: 150%;
}

p {
}